target/test-classes/jpa-ejemplo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jpa="http://www.mulesoft.org/schema/mule/jpa" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jpa http://www.mulesoft.org/schema/mule/jpa/current/mule-jpa.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" basePath="/jpa" doc:name="HTTP Listener Configuration"/>
    <jpa:config name="Java_Persistence_API" entityManagerFactory-ref="entityManagerFactory" doc:name="Java Persistence API"/>
        <spring:beans>
		    <spring:import resource="classpath:spring.xml" />
		</spring:beans>
    <flow name="jpa-ejemploFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/student" allowedMethods="GET" doc:name="HTTP"/>
        <jpa:query config-ref="Java_Persistence_API"  doc:name="Java Persistence API" queryParameters-ref="#[message.inboundProperties.'http.query.params']" statement="FROM Student student WHERE student.name = :name"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
</mule>
